RUST_LOG=debug # set required level (info, debug, full)

API_TOKEN=your_static_auth_token
WORKER_COUNT=number_of_isolate_workers # Adjust as per your CPU cores

HOST=your_host
PORT=your_port
ALLOWED_ORIGIN=cors_allowed_endpoint
